<% content_for :title, "New auto register record" %>

<h1>New auto register record</h1>

<%= render "form", auto_register_record: @auto_register_record %>

<br>

<div>
  <%= link_to "Back to auto register records", auto_register_records_path %>
</div>
