<tr>
  <td><%= record.account.account_no %></td>
  <td><%= record.state %></td>
  <td><%= record.error_message %></td>
  <td class="text-end">
    <div style="display:flex;justify-content:flex-end;">
      <%= link_to '执行', nil, class: 'btn btn-link p-0' %>
    </div>
  </td>
</tr>   
