<p style="color: green"><%= notice %></p>

<% content_for :title, "Records" %>
<div class="card shadow-sm">
  <div class="card-header">
    <div class="row">
      <div class="col-9">
        <h5>执行记录列表</h5>
      </div>
      <div class="col-3" style="text-align: end;">
        <%= link_to "返回", plans_path, class: 'btn btn-secondary btn-sm' %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>账号</th>
          <th>状态</th>
          <th>失败原因</th>
          <th class="text-end" scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render @records %>
      </tbody>
    </table>
  </div>
</div>