<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-9">
        <h5>选择执行账号</h5>
      </div>
      <div class="col-3" style="text-align: end">
        <%= link_to "返回", plans_path, class: 'btn btn-secondary btn-sm' %>
      </div>
    </div>
  </div>

  <div class="card-body border border-top-0">
    <%= render 'form', record: @record%>
  </div>
</div>