<div id="<%= dom_id payment %>">
  <p>
    <strong>Company:</strong>
    <%= payment.company_id %>
  </p>

  <p>
    <strong>Mode:</strong>
    <%= payment.mode %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= payment.info %>
  </p>

</div>
