<p style="color: green"><%= notice %></p>

<% content_for :title, "Plans" %>
<div class="card shadow-sm">
  <div class="card-header">
    <div class="row">
      <div class="col-9">
        <h5>计划列表</h5>
      </div>
      <div class="col-3" style="text-align: end;">
        <%= link_to '回首页', root_path, class: 'btn btn-secondary btn-sm' %>
        <%= link_to '新建计划', new_plan_path, class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>标题</th>
          <th>公司</th>
          <th>执行时间</th>
          <th class="text-end" scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render @plans %>
      </tbody>
    </table>
  </div>
</div>