<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-9">
        <h5>新建计划</h5>
      </div>
      <div class="col-3" style="text-align: end">
        <%= link_to "返回", plans_path, class: 'btn btn-secondary btn-sm' %>
      </div>
    </div>
  </div>

  <div data-controller="record" class="card-body border border-top-0">
    <%= render 'form', plan: @plan%>
  </div>
</div>